<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://static.freshdev.io/fdk/2.0/assets/freshsales.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <script src="https://static.freshdev.io/fdk/2.0/assets/fresh_client.js"></script>
      <script src="https://unpkg.com/anycontrol/dist/index.umd.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
      <script src="app.js"></script>
   </head>
   <body>
    <style>
      .custom-control-label::before{
        height: 16px;
        width: 28px !important;
        border-radius: 8px !important;
      }
      .custom-switch .custom-control-label::after {
        height: 12px;
        width: 12px;
      }
      .custom-switch {
        padding-left: 22px;
      }

      .custom-switch .custom-control-input:checked~.custom-control-label::after {
        transform: translateX(1.25rem);
      }
      .custom-control-input:checked~.custom-control-label::before {
        border-color: #ffaf14;
        background-color: #ffaf14;
      }

      .custom-control.custom-switch {
        display: flex;
        justify-content: center;
        margin-top: 50px;
      }
    </style>
    <div class="container">
        <div class="text-center">
          <button class="btn btn-primary" style="margin-top:20px">Start Zeus </button>
        </div>

        <div class="text-center">
          <button class="btn btn-primary" style="margin-top:20px">Stop Zeus </button>
        </div>
        <div class="custom-control custom-switch">
          <input type="checkbox" onclick="switchHandler(this)" value='off' class="custom-control-input" id="customSwitch1">
          <label class="custom-control-label" for="customSwitch1">
            <span style="padding-left: 10px;">Toggle Zeus</span>
          </label>
        </div>
    </div>
    <script>
      function switchHandler(event){
        if(event.value === 'off'){
          event.value = 'on';
          ctrl.start();
          return;
        }
        ctrl.stop();
        event.value = 'off';
        return;
      }
      function containsAny(str, substrings) {
        for (var i = 0; i != substrings.length; i++) {
          var substring = substrings[i];
          if (str.indexOf(substring) != - 1) {
            return substring;
          }
        }
        return null;
      }

      function speak(speechText){
        try {
          window.nextSpeech = null;
          var synth = window.speechSynthesis;
          if (synth.speaking) {
              window.nextSpeech = speechText;
              console.error('speechSynthesis.speaking');
              return;
          }
          let voices = synth.getVoices().sort(function (a, b) {
              const aname = a.name.toUpperCase(), bname = b.name.toUpperCase();
              if ( aname < bname ) return -1;
              else if ( aname == bname ) return 0;
              else return +1;
          });
          if (speechText !== '') {
            var utterThis = new SpeechSynthesisUtterance(speechText);
            utterThis.onend = function (event) {
                console.log('SpeechSynthesisUtterance.onend');
                if(window.nextSpeech){
                  let text = window.nextSpeech;
                  window.nextSpeech = null;
                  speak(text)
                }
            }
            utterThis.onerror = function (event) {
                console.error('SpeechSynthesisUtterance.onerror', event);
            }
            var selectedOption = "Fred";
            for(i = 0; i < voices.length ; i++) {
              if(voices[i].name === selectedOption) {
                utterThis.voice = voices[i];
                break;
              }
            }
            utterThis.rate = 1;
            utterThis.pitch = 0.6;
            synth.speak(utterThis);
          }
        } catch (error) {
          console.error(error);
        }
      }

      var ctrl = new anycontrol();

      console.log({ctrl});
      // ctrl.addCommand("home", function() {
      //   console.log('Go to home page')
      // });

      ctrl.addCommand("kaise ho", function() {
        speak(`Badiya. Aap batao.`);
        client.interface.trigger("showNotify", {
          type: "info",
          message: `Badiya. Aap batao.`
        });
      });

      ctrl.addCommand("kya hua", function() {
        speak(`Kya hi hoga.`);

        client.interface.trigger("showNotify", {
          type: "info",
          message: `Kya hi hoga.`
        });
      });

      ctrl.addCommand("kya chal raha hai", function() {
        speak(`Mera to sahi he. Tumhara kat raha hai.`)
        client.interface.trigger("showNotify", {
          type: "info",
          message: `Mera to sahi he. Tumhara kat raha hai.`
        });
      });

      ctrl.addCommand("show leads", function(param) {
        speak("Opening leads");
        client.interface.trigger("show", {
          id: "lead", value: null
        }).then(function(data) {
        }).catch(function(error) {
        });
      })

      ctrl.addCommand("show contacts", function(param) {
        speak("Opening contacts");
        client.interface.trigger("show", {
          id: "contact", value: null
        }).then(function(data) {
        }).catch(function(error) {
        });
      })

      ctrl.addCommand("show deals", function(param) {
        speak("Opening deals");
        client.interface.trigger("show", {
          id: "deal", value: null
        }).then(function(data) {
        }).catch(function(error) {
        });
      })

      ctrl.addCommand("show accounts", function(param) {
        speak("Opening accounts");
        client.interface.trigger("show", {
          id: "sales_account", value: null
        }).then(function(data) {
        }).catch(function(error) {
        });
      })

      ctrl.addCommand("get me lead", function(param) {
        speak("Showing leed " + param);
        editEntity('lead', param);
      })

      ctrl.addCommand("get me contact", function(param) {
        speak("Showing contact " + param);
        editEntity('contact', param);
      })

      ctrl.addCommand("get me deal", function(param) {
        speak("Showing deal " + param);
        editEntity('deal', param);
      })

      ctrl.addCommand("get me account", function(param) {
        speak("Showing account " + param);
        editEntity('sales_account', param);
      })

      async function editEntity(entity, param){
        if (param) {
          client.interface.trigger("showNotify", {
            type: "info",
            message: `Let's edit ${entity} with last name ${param}`
          });

          // console.log(currentEntityInfo);

          let {domainName} = await client.data.get("domainName");
          // console.log(domainName);

          var headers = {"Authorization": "Token token=<%= (iparam.api_key) %>"};
          var options = { headers: headers };
          var url = "https://" + domainName + "/search.json" + "?q=" + param + `&include=${entity}&g=1&per_page=10`;
          let id;
          try {
            let data = await client.request.get(url, options);
            // console.log(JSON.parse(data.response));
            id = JSON.parse(data.response)[0]['id'];
            if(!id){
              client.interface.trigger("showNotify", {
                type: "info",
                message: `No results found for ${param}`
              })
            } else {
              client.interface.trigger("showNotify", {
                type: "info",
                message: `Edit ${entity} with ${param}`
              })
            }

          } catch(error){
            client.interface.trigger("showNotify", {
              type: "info",
              message: error
            })
          }
          try {
            client.interface.trigger("show", {
              id: entity, value: id
            }).then(function(data) {
            }).catch(function(error) {
            });
          } catch(error){
            client.interface.trigger("showNotify", {
              type: "info",
              message: error
            })
          }
        } else {
          client.interface.trigger("showNotify", {
            type: "info",
            message: `Cannot create ${entity}`
          });
        }
      }

      ctrl.addCommand("create", function(param) {
        createEntity(param);
      });

      ctrl.addCommand("create a", function(param) {
        createEntity(param);
      });


      function createEntity(param){
          let match = containsAny(param, ['lead', 'account', 'contact', 'deal']);
          if(match) {
            client.interface.trigger("open", {
              id: param
            }).then(function(data) {
              speak(`Let's open ${param} modal`)
              client.interface.trigger("showNotify", {
                type: "info",
                message: `Let's open ${param} modal`
              });
            }).catch(function(error) {
              speak(`Cannot open ${param} modal`)
              client.interface.trigger("showNotify", {
                type: "info",
                message: `Cannot open ${param} modal`
              });
            });
          } else {
            speak(`Cannot create ${param}`)
            client.interface.trigger("showNotify", {
              type: "info",
              message: `Cannot create ${param}`
            });
          }
      }

      ctrl.addCommand("give me", async function(param) {
        speak(`Okay`);
        client.interface.trigger("showNotify", {
          type: "info",
          message: `Okay. Let me check ${param}`
        })
        let editedParam = !!param ? param.replace(' ', '_'): param;
        // console.log(editedParam);
        let {currentEntityInfo} = await client.data.get("currentEntityInfo")

        let {domainName} = await client.data.get("domainName");

        var headers = {"Authorization": "Token token=<%= (iparam.api_key) %>"};
        var options = { headers: headers };
        var url = "https://" + domainName + "/leads/" + (currentEntityInfo.currentEntityId || "12000593870") + ".json" ;
        try {
          let data = await client.request.get(url, options);
          let result = JSON.parse(data.response)['lead'][editedParam];
          // console.log(JSON.parse(data.response)[currentEntityInfo.currentEntityType][editedParam]);
          if(!result){
            speak(`No results found for ${param}`)
            client.interface.trigger("showNotify", {
              type: "info",
              message: `No results found for ${param}`
            })
          } else {
            speak(result)
            client.interface.trigger("showNotify", {
              type: "info",
              message: result
            })
          }

        } catch(error){
          speak(error.response)
          client.interface.trigger("showNotify", {
            type: "info",
            message: error.response
          })
        }
      });

      ctrl.addCommand("notification", async function(param) {
        speak(`Okay. Let me check latest notification`);
        client.interface.trigger("showNotify", {
          type: "info",
          message: `Okay. Let me check latest notification`
        })
        // let editedParam = !!param ? param.replace(' ', '_'): param;
        // console.log(editedParam);
        let {currentEntityInfo} = await client.data.get("currentEntityInfo")

        let {domainName} = await client.data.get("domainName");

        var headers = {"Authorization": "Token token=<%= (iparam.api_key) %>"};
        var options = { headers: headers };
        var url = "https://platforms.freshdesk.com/notifications?results=3" ;
        try {
          let data = await client.request.get(url, options);
          let result = JSON.parse(data.response);
          console.log(JSON.parse(data.response));
          if(!result){
            speak(`No results found for ${param}`)
            client.interface.trigger("showNotify", {
              type: "info",
              message: `No results found for ${param}`
            })
          } else {
            speak(result)
            client.interface.trigger("showNotify", {
              type: "info",
              message: result
            })
          }

        } catch(error){
          speak(error.response)
          client.interface.trigger("showNotify", {
            type: "info",
            message: error.response
          })
        }
      });

      function createEntityData(param, entity){
        var headers = {"Authorization": "Token token=U1T86etZ3KPUlfpQURzQVQ"};
        var data = {
            "contact": {
              "last_name": param
            }
        };
        var payload = {
          headers: headers,
          data: JSON.stringify(data),
          requestEvent: `create${entity}`
        };

        console.log({payload});
        
        client.request.invoke('onExternalEventHandler', payload).then((response)=>{
          console.log('IMHIT')
          speak(`${entity} created Successfully`);
        }).catch((error)=>{
          console.log({error})
          speak(error.message);
        });
      }
      ctrl.addCommand("add contact with name", async function(param) {
        createEntityData(param, 'Contact');
      });

      ctrl.addCommand("add lead with name", async function(param) {
        createEntityData(param, 'Lead');
      });
      ctrl.debug(true);
    </script>
   </body>
</html>
